<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Custom Change Your Password Page</title>
	<meta charset="utf-8" />
	<link href="/default-ui.css" rel="stylesheet" />
</head>
<body>
	<div class="content">
		<form class="login-form" th:action="@{/change-password}" method="post">
			<h2>Enter your new password below:</h2>
			<p>
				<label for="newPassword">New password</label>
				<input type="password" id="newPassword" name="newPassword" >
			</p>
			<input type="hidden" name="_csrf" value="${_csrf}"/>
			<button class="primary" id="submit" type="submit">Change Password</button>
		</form>
	</div>
</body>
</html>
